/* Chrome, Safari, Edge, Opera */
.qty-product::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.qty-product[type=number] {
  -moz-appearance: textfield;
}